$primary: #88715a;
$secondary: #4a3928;
$active: #20639b;
$changed: #3caea3;
$warning: #f6d55c;
$error: #ed553b;
$success: #2ecc71;
$text-primary: var(--uxp-host-text-color);
$text-secondary: var(--uxp-host-text-color-secondary);
$bg-primary: var(--uxp-host-background-color);
$border-color: var(--uxp-host-border-color);